
* {
}
.App {
  display: grid;
  width: 850px;
  grid-template-columns: 200px 600px;
  grid-template-rows: minmax(1000px,70vh);
  margin: 50px;
  border: 1px solid black;
  background-color: rgb(249, 245, 239);
}

#aside {
  grid-column: 1/1;
  background-color: lightblue;
  padding: 5px;
}
#main {
  grid-column: 2/2;
}

.sectionHeader {
  font-weight: bold;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 0px 10px 5px;
  margin: 5px 25px 20px 25px;
  color: rgb(6, 6, 58);
}

#fullName {
  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px 0px 5px 30px;
}

#title {
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: bold;
}

#profile {
  margin: 45px 20px 25px 35px;
}

#profileHeader {
  font-weight: 600;
  font-size: 16px;
}

#profileBody {
  font-size: 11px;
}